{% extends "layout.html" %}
{% block title %}IAVI Summary{% endblock %}
{% block content %}
<h2>Participants and their compliance.  All sites.</h2>
<table width="100%"> 
    <thead>
        <tr>
            <th>Participant Number</th>
            <th>Compliance Past 7 Days</th>
            <th>Compliance Past 30 Days</th>
            <th>All Compliance To-Date</th>
        </tr>
    </thead>
    <tbody>
        {% for reporter in reporters %}
            <tr>
                <td>{{reporter.study_id}}</td>
                <td>{{reporter.past_7_compliant}}/{{reporter.past_7_reports}}</td>
                <td>{{reporter.past_30_compliant}}/{{reporter.past_30_reports}}</td>
                <td>{{reporter.all_compliant}}/{{reporter.all_reports}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
