{% extends base_template %}
{% load i18n %}
{% block title %}{% trans "Message Log" %}{% endblock %}
{% block content %}
<h2 style="text-align: {%trans 'left;' %}">{% trans "All Messages" %}</h2> 
<table width="100%"> 
    <thead>
        <tr>
            <th style="text-align: {%trans 'left;' %}">{% trans "Date" %}</th>
            <th style="text-align: {%trans 'left;' %}">{% trans "From" %}</th>
            <th style="text-align: {%trans 'left;' %}">{% trans "Backend" %}</th>
            <th style="text-align: {%trans 'left;' %}">{% trans "Message" %}</th>
            <th style="text-align: {%trans 'left;' %}">{% trans "Direction" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for message in messages %}
            <tr>
                <td>{{message.date|date:"d-M-Y H:m:s"}}</td>
                <td>{{message.identity}}</td>
                <td>{{message.backend}}</td>
                <td>{{message.text}}</td>
                <td>{% if message.is_incoming %}&lt&lt&lt
                    {% else %}&gt&gt&gt
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
